# Import libs & data

In [85]:
import numpy as np
import pandas as pd
import os
import matplotlib.pyplot as plt

In [86]:
raw_df=pd.read_csv("./test_data_scientist/train.csv")
test_df=pd.read_csv("./test_data_scientist/test.csv")
bu_feat=pd.read_csv("./test_data_scientist/bu_feat.csv")
raw_df["day_id"]=pd.to_datetime(raw_df["day_id"])
raw_df.loc[231272,"turnover"]=np.mean([360.013595,364.825805,381.773418])
test_df["day_id"]=pd.to_datetime(test_df["day_id"])
limit=pd.to_datetime('2016-01-02')
train_df=raw_df[raw_df["day_id"]<=limit].reset_index()
val_df=raw_df[raw_df["day_id"]>limit].reset_index()

# Creating annual curve dataset

In [71]:
from dataset import dataset
from importlib import reload
reload(dataset)

In [72]:
deconv_ds_train=dataset.Annual_construction_dataset()
deconv_ds_val=dataset.Annual_construction_dataset()
deconv_ds_train.load_from_df(train_df,bu_feat)
deconv_ds_val.load_from_df(val_df,bu_feat)

100%|██████████| 278/278 [00:09<00:00, 28.15it/s]
100%|██████████| 322/322 [00:06<00:00, 48.74it/s]

In [73]:
with open('data_deconv_train.json', 'w') as f:
    deconv_ds_train.save_ds_to_json(f)
with open('data_deconv_val.json', 'w') as f:
    deconv_ds_val.save_ds_to_json(f)

In [74]:
deconv_ds_train=dataset.Annual_construction_dataset()
with open('data_deconv_train.json', 'r') as f:
    deconv_ds_train.load_from_json(f)
deconv_ds_val=dataset.Annual_construction_dataset()
with open('data_deconv_val.json', 'r') as f:
    deconv_ds_val.load_from_json(f)

In [75]:
deconv_ds_train.set_data_for_training(False)
deconv_ds_val.set_data_for_training(False)

# Creating Turnover Dataset

In [155]:
limit=pd.to_datetime('2015-31-31')
train_df=raw_df[raw_df["day_id"]<=limit].reset_index()
val_df=raw_df[raw_df["day_id"]>limit].reset_index()

In [160]:
from dataset import dataset
from importlib import reload
reload(dataset)

In [157]:
ds_train=dataset.Turnover_dataset()
ds_val=dataset.Turnover_dataset()

In [158]:
ds_train.load_from_df(train_df,bu_feat)
ds_val.load_from_df(val_df,bu_feat)

100%|██████████| 306/306 [16:02<00:00,  3.14s/it]
100%|██████████| 322/322 [04:34<00:00,  1.17it/s]

In [ ]:
ds_train.set_data_for_training(False)
ds_val.set_data_for_training(False)

In [161]:
with open('train_data.json', 'w') as f:
    ds_train.save_ds_to_json(f)
with open('val_data.json', 'w') as f:
    ds_val.save_ds_to_json(f)

# Tests

In [146]:
train_df[(train_df["day_id"]>='2014-09-27') 
    & (train_df["day_id"]<=(pd.to_datetime('2014-09-27')+pd.DateOffset(weeks=15)))
    & (train_df["but_num_business_unit"]==720) 
    & (train_df["dpt_num_department"]==117)]

,index,day_id,but_num_business_unit,dpt_num_department,turnover
100020,165833,2015-01-10,720,117,326.669407
100978,166791,2015-01-03,720,117,235.873458
102028,167841,2014-12-27,720,117,269.806463
102712,168525,2014-12-20,720,117,303.047327
103892,169705,2014-12-13,720,117,227.198501
105328,171141,2014-12-06,720,117,268.726778
106218,172031,2014-11-29,720,117,162.400409
107420,173233,2014-11-22,720,117,187.464123
107761,173574,2014-11-15,720,117,181.035454
109827,175640,2014-11-08,720,117,130.111317
110517,176330,2014-11-01,720,117,69.382491
111493,177306,2014-10-25,720,117,77.783833
112453,178266,2014-10-18,720,117,42.838675
113820,179633,2014-10-11,720,117,50.050539
114672,180485,2014-10-04,720,117,13.388377
116109,181922,2014-09-27,720,117,2.246438